# eclipse #

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse

*.class

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/
nyu-smg-mastermind/war/nyu_smg_mastermind/gwt/clean/clean.css
nyu-smg-mastermind/war/nyu_smg_mastermind/gwt/clean/clean_rtl.css
nyu-smg-mastermind/war/nyu_smg_mastermind/nyu_smg_mastermind.nocache.js
nyu-smg-mastermind/war/WEB-INF/deploy/nyu_smg_mastermind/rpcPolicyManifest/manifest.txt
nyu-smg-mastermind/war/WEB-INF/appengine-web.xml
nyu-smg-mastermind/war/nyu_smg_mastermind/hosted.html
nyu-smg-mastermind/war/nyu_smg_mastermind/nyu_smg_mastermind.nocache.js
nyu-smg-mastermind/war/nyu_smg_mastermind/nyu_smg_mastermind.nocache.js